<p>Hello {{NAME}},</p>

<p>Thank you for registering with Gayroom8! To start using your account, please activate it by clicking the button below.</p>

<p>Your Account Details:</p>

<p>Email: {{EMAIL}}</p>

<p>Password: {{PASSWORD}}</p>

<p><strong>Important: You must activate your account before you can log in. Simply click the button below to complete the setup:</strong></p>

<p>{{LINK}}</p>

<p>&nbsp;</p>

<p>We&rsquo;re excited to have you on board!</p>

<p>Best regards,</p>

<p>The Gayroom8</p>